<body>
<div id="wrapper">
	<div id="header">
		<div id="hgroup">
			<h1>NCD DataUpload System </h1>  <!-- NCD DataUpload System -->
			<h2>National Clinical Database データアップロードシステム</h2>

			<ul id="headerNavi" class="clearfix">
				<li id="help"><a href="https://registry3.ncd.or.jp/data/upload_manual.pdf">HELP</a></li>
				<li id="logout"><a href="https://registry3.ncd.or.jp/data/upload_manual.pdf">LOGOUT</a></li>
			</ul>

		</div>
	</div>

