<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Default.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<!-- <base href="https://upload.ncd.or.jp/NCD/" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-Style-Type" content="text/css" />
<meta http-equiv="content-Script-Type" content="text/javascript" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>NCD DataUpload System</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="/javascripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
<!-- InstanceEndEditable -->
</head>