<%- include('partials/header') %>

	<div id="contentsInner">
		<h3><%= title %></h3>

		<div id="block">
			<div id="blockInner">
				<ul>
					<li><p>ここに処理</p></il>

				</ul>
			</div>

			<div id="blockFooter">
				<ul>
					<li id="download"><input type="submit" name="submit" value="&nbsp;" /></li>
					<li id="resultBack"><a href="./">取込結果画面へ</a></li>
					<li id="menuBack"><a href="../">メニューへ</a></li>
				</ul>
			</div>
		</div>
	</div>	

<%- include('partials/footer') %>
