<%- include('partials/header') %>

	<div id="contentsInner">
		<h3><%= title %></h3>

		<div id="block">
			<div id="blockInner">
				<ul>
					<li><p>仮登録が正常に完了しました。NCDのデータベースに登録する場合は「本DBへ登録」ボタンをクリックしてください。</p></li>
					<li><p>仮登録したデータを取り消したい場合は、「キャンセル」ボタンをクリックしてください。</p></li>
				</ul>
			</div>

			<div id="blockFooter">
				<ul>
					<li id="execute"><input type="submit" name="submit" value="&nbsp;" /></li>
					<li id="cancel"><input type="submit" name="submit" value="&nbsp;" /></li>
				</ul>
				<ul>			
					<li id="resultBack"><a href="./">取込結果画面へ</a></li>
					<li id="menuBack"><a href="../">メニューへ</a></li>
				</ul>
			</div>
		</div>
	</div>

<%- include('partials/footer') %>
