<!doctype html>
<html>
  <head>
    <title>ファイルアップロード</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <p>サンプル ファイルアップロード</p>

    <form action="/import" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" /><button type="submit">送信</button>
    </form>

  </body>
</html>


