<%- include('partials/header') %>

	<div id="contentsInner">
		<h3><%= title %></h3>

		<div id="block">
			<div id="blockInner">
				<ul>
					<li><p><a href="../upload">ファイルのアップロード</a></p></li>
					<li><p><a href="../result">取り込み結果確認</a></p></il>
				</ul>
			</div>

			<div id="blockFooter"></div>
		</div>
	</div>	
	
<%- include('partials/footer') %>
