<%- include('partials/header') %>

		<div id="contentsInner">
			<h3>ログイン</h3>

			<div id="block">
			<form name="loginActionForm" method="post" action="/login">
				<div id="blockInner">
				<font color="red"><ul style="list-style: none;"><li><%= errmsg %></li></ul></font>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th>ユーザID</th>
						<td><input type="text" id="userid" name="userid" value="<%= userid %>" /></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td><input type="password" id="password" name="password" value=""/></td>
					</tr>
				</table>
				</div>
				<div id="blockFooter">
					<ul>
						<li id="login"><input type="submit" name="submit" value="&nbsp;" /></li>
					</ul>
				</div>
			</form>
			</div>
			<br/>
			<font color="red"><b>
				本サービスは、症例登録の補助ツールとして公開をしております。<br/>
				本サービスは各施設の責任においてご利用ください。
			</b>
			</font>
		<!-- InstanceEndEditable --></div>
	</div>

</div>

<%- include('partials/footer') %>
