<%- include('partials/header') %>

		<section id="contentsInner">
			<h3>ログイン</h3>

			<div id="block">
				<form name="loginActionForm" method="post" action="/login">
					<div id="blockInner">
						<ul class="attention"><li><%= errmsg %></li></ul>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<th>ユーザID</th>
								<td><input type="text" id="userid" name="userid" value="<%= userid %>" /></td>
							</tr>
							<tr>
								<th>パスワード</th>
								<td><input type="password" id="password" name="password" value=""/></td>
							</tr>
						</table>
					</div>
					<div id="blockFooter">
						<ul>
							<li id="login"><input type="submit" name="submit" value="&nbsp;" /></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="attention">
			<p>本サービスは、症例登録の補助ツールとして公開をしております。</p>
			<p>本サービスは各施設の責任においてご利用ください。</p>
			</div>

		</section>

<%- include('partials/footer') %>
