<%- include('partials/head') %>
<%- include('partials/header') %>

	<div id="contents">

		<div id="contentsInner"><!-- InstanceBeginEditable name="contents" -->
  
			<div id="block">
				<ul style="list-style: none;">
                    <li><p>ここに処理内容</p></li>
                    <li><p><a href="/upload/upload_done">アップロード完了画面へ</a></p></il>
					<li><p><a href="../">メニューへ</a></p></il>
				</ul>
		<!-- InstanceEndEditable -->
            </div>
			<div id="blockFooter">
				<ul>
					<li id="login"><input type="submit" name="submit" value="&nbsp;" /></li>
				</ul>
			</div>	
		</div>
	</div>	
	
<%- include('partials/footer') %>
