<%- include('partials/header') %>

		<div id="contentsInner"><!-- InstanceBeginEditable name="contents" -->
			<h3><%= title %></h3>
  
			<div id="block">
				<div id="blockInner">
					<ul>
						<li><p><a href="../result/execute"><input type="submit" name="submit" value="仮登録完了" /></a></p></il>
						<li><p>　　</p></il>
						<li><p><a href="../result/errorcheck"><input type="submit" name="submit" value="エラー" /></a></p></il>
					</ul>
				</div>

				<div id="blockFooter">
					<ul>
						<li id="menuBack"><a href="../">メニューへ</a></li>
					</ul>
				</div>
			</div>
		</div>	

<%- include('partials/footer') %>
