<%- include('partials/header') %>

		<section id="contentsInner"><!-- InstanceBeginEditable name="contents" -->
			<h3><%= title %></h3>
  
			<div id="block">
				<div id="blockInner">
					<table cellpadding="0" cellspacing="0" border="0" class="src_tbl">
					<thread>
						<tr>
							<th><p>施設・診療科：</p></th>
							<td>
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">施設・診療科1</option>
									<option value="2">施設・診療科2</option>
									<option value="3">施設・診療科3</option>
								</select>
							</td>
							<td><input type="submit" name="submit" value="選択"></td>
						</tr>
					</thread>
					<tbody>
						<tr>
							<th><p>専門分野：</p></th>
							<td>
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">専門分野1</option>
									<option value="2">専門分野2</option>
									<option value="3">専門分野3</option>
								</select>
							</td>
							<th><p>ユーザーID:</p></th>
							<td>
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">123456</option>
									<option value="2">789012</option>
									<option value="3">567890</option>
								</select>
							</td>
							<th><p>アップロード日時：</p></th>
							<td>
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">2022年度</option>
									<option value="2">2021年度</option>
									<option value="3">2020年度</option>
								</select>
							</td>
							<th><p>結果：</p></th>
							<td>
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">結果1</option>
									<option value="2">結果2</option>
									<option value="3">結果3</option>
								</select>
							</td>
						</tr>
					</tbody>
					</table>

					<table cellpadding="0" cellspacing="0" border="0" class="err_tbl">
					<thread>
						<tr>
							<th><p>専門分野</p></th>
							<th><p>ファイル名</p></th>
							<th><p>診療科</p></th>
							<th><p>アップロード</p><p>ユーザーID</p></th>
							<th><p>アップロード</p><p>日時</p></th>
							<th><p>件</p><p>数</p></th>
							<th><p>結果</p></th>
						</tr>
					</thread>
					<tbody>
						<tr>	
							<td class="no"><input type="text" id="test" name="test" value="" /></td>
							<td class="colum_no"><input type="text" id="colum_no" name="colum_no" value=""/></td>
							<td class="error"><input type="text" id="error" name="error" value="" /></td>
							<td class="rcolum_no"><input type="text" id="rcolum_no" name="rcolum_no" value="" /></td>
							<td class="biko"><input type="text" id="biko" name="biko" value="" /></td>
							<td class="biko2"><input type="text" id="biko" name="biko" value="" /></td>
							<td class="biko3"><p><a href="../result/errorcheck"><input type="submit" name="submit" value="エラー" /></a></p></td>
						</tr>
						<tr>	
							<td class="no"><input type="text" id="no" name="no" value="" /></td>
							<td class="colum_no"><input type="text" id="colum_no" name="colum_no" value=""/></td>
							<td class="error"><input type="text" id="error" name="error" value="" /></td>
							<td class="rcolum_no"><input type="text" id="rcolum_no" name="rcolum_no" value="" /></td>
							<td class="biko"><input type="text" id="biko" name="biko" value="" /></td>
							<td class="biko2"><input type="text" id="biko" name="biko" value="" /></td>
							<td class="biko3"><p><a href="../result/execute"><input type="submit" name="submit" value="仮登録完了" /></a></p></td>
						</tr>

					</tbody>
					</table>
				</div>

				<div id="blockFooter">
					<ul>
						<li id="menuBack"><a href="../">メニューへ</a></li>
					</ul>
				</div>
			</div>
		</section>	

<%- include('partials/footer') %>
