<%- include('partials/header') %>

	<div id="contentsInner"><!-- InstanceBeginEditable name="contents" -->
		<h3><%= title %></h3>

		<div id="block">
			<div id="blockInner">
				<ul>
					<li><p>ここに処理内容</p></li>
					<li><p><a href="/upload/upload_done">アップロード完了画面へ</a></p></il>
					<li><p></p></il>
				</ul>
			</div>

			<div id="blockFooter">
				<ul>
					<li id="upload"><input type="submit" name="submit" value="&nbsp;" /></li>
					<li id="back"><a href="../">メニューへ</a></li>
				</ul>
			</div>	
		</div>
	</div>	
	
<%- include('partials/footer') %>
