<%- include('partials/header') %>

	<section id="contentsInner"><!-- InstanceBeginEditable name="contents" -->
		<h3><%= title %></h3>
  
		<div id="block">
			<div id="blockInner">
				<ul>
					<li><p>ファイルのアップロードが完了しました。</p></li>
					<li><p>アップロードされたファイルの取り込み結果は「取り込み結果確認画面」を参照してください。</p></il>
				</ul>
			</div>

			<div id="blockFooter">
				<ul>
					<li id="menuBack"><a href="../">メニューへ</a></li>
				</ul>
			</div>
		</div>
	</section>	

<%- include('partials/footer') %>