.err_tbl {
    width: 100%;
}
.err_tbl tr th {
	background-color: #A2D2E8;
}

.err_tbl tr td {
	border: 0.1px #dad7d7 solid;
	text-align: left;
}
.err_tbl tr th p {
    font-size: 8px;
    font-weight: bold;
    color:black;
}

.row_no {
	width: 50px;
}

.col_no{
	width: 50px;
}

.naiyo  {
	width: 250px;
	text-align: left;
}

.rel_col_no{
	width: 50px;
}

.biko{
	width: 300px;
	text-align: left;

}
