@charset "utf-8";
/* CSS Document */

#blockInner {
	text-align:center;
}

#blockInner ul {
	display:inline-block;
}

#blockInner ul li {
	list-style-type:none;
	background:url(../images/arr.png) 0 17px no-repeat;
	padding:15px 0 15px 20px;
	text-align:left;
}

#blockInner ul li a {
	font-size:14px;
	text-decoration:underline;
}


/* ================================================== */
/* #blockFooter */
/* ================================================== */
#blockFooter ul {
	width:212px;
	margin:0 auto;
}