@charset "utf-8";
/* CSS Document */

.upd_tbl {
    width: 100%;
}
.upd_tbl tr th {
	text-align: right;
}

.upd_tbl tr td {
	text-align: left;
	width:60%;
}

#upload_label {
	color: #000; 
	font-size: 13px; 
	background-color: #AAAAAA;
	padding: 2px 10px; /* ラベルとテキスト間の余白を指定する */
	border-radius: 2px; /* ラベルボックスの角丸を指定する */
	cursor:pointer; /* マウスカーソルの形を指定する */
	border-bottom: 1px solid #4e4e4e;
}

#upload_label > input{
	display:none; /* アップロードボタンのスタイルを無効にする */
}

.senmon {
	width:300px;
	text-align: left;
}
.nendo {
	text-align: left;
}
.sisetsu {
	width:300px;
}

.mailaddress {
	width:400px;
	height:25px;
}

/* ================================================== */
/* #blockFooter */
/* ================================================== */
#blockFooter ul {
	width:212px;
	margin:0 auto;
}

